{% extends "index.html" %} {% block content %}
<main>
    <div>
        <h1>
            Welcome to Chat-12
        </h1>
        <h2>
          {{ session['logged_in'] }}
        </h2>
        <h3>
          {{ session['user'] }}
        </h3>
    </div>
</main>
{% endblock content %}
