<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat-12</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="../static/jquery.js"></script>
  </head>
  <body>
    <h1>Welcome to Chat-12!!!</h1>
    <nav>
      <ul>
        <li>
          <a href="/login/backend">LogIn</a>
        </li>
        <li>
          <a href="/signup">SignUp</a>
        </li>
        <li>
          <a href="/signout">Sign Out</a>
        </li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
  <script src="../static//scripts.js"></script>
</html>
