{% extends "index.html" %} {% block content %}
<main>
    <div>
        <h2>Log In</h2>
        <form name="login">
            <div>
                <label for="email">Email</label>
                <br>
                <input type="text" name="email"
                placeholder="Email" id="email">
            </div>
            <div>
                <label for="password">Password</label>
                <br>
                <input type="password" name="password"
                placeholder="Password" id="password">
            </div>
            <p class="error error--hidden"></p>
            <input type="submit" value="Submit">
        </form>
    </div>
</main>
{% endblock content %}
