{% extends "index.html" %} {% block content %}
<main>
    <div>
        <h2>SignUp</h2>
        <form name="signup">
            <div>
                <label for="screen_name">Username</label>
                <br>
                <input type="text" name="screen_name"
                placeholder="Username" id="screen_name">
            </div>
            <div>
                <label for="password">Password</label>
                <br>
                <input type="password" name="password"
                placeholder="Password" id="password">
            </div>
            <div>
                <label for="email">Email</label>
                <br>
                <input type="text" name="email"
                placeholder="Email" id="email">
            </div>
            <div>
                <p class="error error--hidden"></p>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</main>
{% endblock content %}
